.input-containers2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #b9acac;
  min-width: 400px;
  max-height: 80px;
  margin: 5px;
}
.add-on-inp {
  width: 12px;
}
.inputs-main-cont3 {
  display: flex;
  flex-direction: column;
}
