.prev-btn {
  margin-right: 80px;
  padding: 12px;
  width: 110px;
  border: none;
  background-color: transparent;
  color: #0a3b96;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
.next-btn1 {
  align-self: flex-end;
  padding: 12px;
  width: 110px;
  border: none;
  background-color: #0a3b96;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}
.plan-price-head {
  font-size: 18px;
  margin-top: 40px;
  height: 10px;
}
.input-containers {
  border: 1px solid #b9acac;
  min-width: 130px;
  border-radius: 8px;
  padding: 8px;
  margin: 10px;
}
.inputs-main-cont {
  display: flex;
}
.btn-container {
  display: flex;
  margin-top: 80px;
  width: 420px;
  justify-content: space-between;
}
.inputs[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.labels {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: #0a3b96;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.inputs:checked + label {
  background: #bada55;
}

.inputs:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 50px;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.your-plan2 {
  color: #0a3b96;
  font-weight: 500;
  font-size: 16px;
}
